
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/ff05aa657450f06b/REALISTICSCENERENDERING.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/a2d4a883e902fce0/SCENEOBJECT.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/3f9100a4b1c9d33e/MAIN.ipch
.vs/RealisticSceneRendering/v17/Browse.VC.opendb
.vs/RealisticSceneRendering/v17/Browse.VC.db-wal
.vs/RealisticSceneRendering/v17/Browse.VC.db-shm
.vs/RealisticSceneRendering/v17/Browse.VC.db
.vs/RealisticSceneRendering/v17/.suo
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/7b6f7842c6720b75/RUNNER.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/a26b300f7c72cd82/INPUTCONTROLLER.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/b506d5ff95ea7767/WINDOW.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/d14e1fba776e06df/INPUTCONTROLLER.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/d7c6deb30b312f23/WATERRENDERER.ipch
.vs/RealisticSceneRendering/v17/ipch/AutoPCH/e502695df07307d0/CAMERAMOVEMENT.ipch
RealisticSceneRendering/RealisticSceneRendering.vcxproj
RealisticSceneRendering/RealisticSceneRendering.vcxproj.filters
RealisticSceneRendering/x64/Debug/Camera.obj
RealisticSceneRendering/x64/Debug/InputController.obj
RealisticSceneRendering/x64/Debug/Main.obj
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/CL.command.1.tlog
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/CL.read.1.tlog
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/CL.write.1.tlog
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/link.command.1.tlog
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/link.read.1.tlog
RealisticSceneRendering/x64/Debug/Realisti.bbf2526a.tlog/link.write.1.tlog
RealisticSceneRendering/x64/Debug/RealisticSceneRendering.ilk
RealisticSceneRendering/x64/Debug/RealisticSceneRendering.log
RealisticSceneRendering/x64/Debug/Runner.obj
RealisticSceneRendering/x64/Debug/vc143.idb
RealisticSceneRendering/x64/Debug/vc143.pdb
RealisticSceneRendering/x64/Debug/WaterRenderer.obj
RealisticSceneRendering/x64/Debug/Window.obj
x64/Debug/RealisticSceneRendering.exe
x64/Debug/RealisticSceneRendering.pdb
.vs/RealisticSceneRendering/FileContentIndex/read.lock
.vs/RealisticSceneRendering/FileContentIndex/fdb2d6ad-d4c3-49fa-8c58-9a618244914a.vsidx
.vs/RealisticSceneRendering/FileContentIndex/f862edbc-8cb0-441b-8ac8-ebad0d8d4cb6.vsidx
.vs/RealisticSceneRendering/FileContentIndex/3412ca7a-b4c7-4028-ad6a-8b8720811879.vsidx
.vs/RealisticSceneRendering/FileContentIndex/329bbbc5-817a-4969-b9c6-f82a00b4a54c.vsidx
*.vsidx
*.db
*.ipch
*.vcxproj
*.vcxproj
*.obj
*.filters
*.vcxproj
*.tlog
*.idb
*.pdb
*.exe
